<div class="container">
  <form>
    <div class="row no-gutters" >

          <div class="col">
              <div class="form-group" style="max-width: 300px;">

                <label for="Email">Email address</label>
                <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="doctor.email" name="email">
                <small class="form-text text-danger" *ngIf="doctorError">{{ doctorError.email }} </small>
                <small class="form-text text-danger " *ngIf="doctorExist"> An account already exists with this email  
                <a routerLink="/login>"> Click here to Login</a>
                </small>

                <label>Enter password</label>
                <input type="password" class="form-control" [(ngModel)]="user.userPwd" name="pwd">

                <label for="exampleInputEmail1">First name</label>
                <input type="email" class="form-control" [(ngModel)]="doctor.firstName" name="fname">
                <small class="form-text text-muted" *ngIf="errorz">{{ errorz.firstName }}</small>

                <label for="exampleInputEmail1">Last name</label>
                <input type="email" class="form-control" [(ngModel)]="doctor.lastName" name="lname">
                <small class="form-text text-danger" *ngIf="doctorError">{{ doctorError.lastName }} </small>

              </div>
          </div>

          <div class="col">
              <div class="form-group" style="max-width: 300px;">

                  <label for="exampleInputEmail1">Cnam code</label>
                  <input type="email" class="form-control" [(ngModel)]="doctor.publicCode" name="cnam">
                  <small class="form-text text-danger" *ngIf="doctorError">{{ doctorError.publicCode }} </small>
                  <label >Birth date:</label>
                  <input type="date" class="form-control">
                  <small class="form-text text-danger" *ngIf="doctorError">{{ doctorError.birthDate }} </small>
                  <label>Phone number</label>
                  <input type="text" class="form-control" [(ngModel)]="doctor.phone" name="phone" >
                  <small class="form-text text-danger" *ngIf="doctorError">{{ doctorError.phone }} </small>
              </div>
              <button type="submit" class="btn btn-primary" (click)="createDoctor()">Submit</button>
            </div>
    </div>
  </form>
</div>
