<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Log in to your account!</div>
    <div class="card-body">
      <form>
          <div class="row no-gutters">
            <div class="col">
                <fieldset>
                    <div class="form-group">
                      <label>User name</label>
                      <input type="text" class="form-control" [(ngModel)]="user.userName"name="user">
                    </div>
                    <div class="form-group">
                      <label >Password</label>
                      <input type="password" class="form-control" [(ngModel)]="user.userPwd"name="password">
                    </div>
                </fieldset>
            </div>
              
          </div>
          <div class="row justify-content-center no-gutters" >
              <button type="submit" class="btn btn-primary"  (click)="createUser()">Log in</button><br>
          </div>
          <div class="row justify-content-center" style="margin-top: 10px" >
              <p class="card-text">don't have an account ? <a> sign up</a></p>
          </div>
        </form>
    </div>
  </div>
