<div class="container">
  <table class="table table-striped">
<thead>
  <th> Consultation Date </th>
  <th>Consultation Note</th>
  <th> Doctor Name</th>
  <th> Patient Name </th>
  <button class="btn btn-primary"(click)="createConsultation()">Create Consultatation</button>
</thead>
<tbody>
  <tr *ngFor="let consultation of consultations">
    <td>{{consultation.date | date:"dd-MM-yyyy  'at'  HH:mm"}}</td>
    <td>{{consultation.note}}</td>
    <td>{{consultation.doctor.firstName}}</td>
    <td>{{consultation.patient.firstName}}</td>
    <td>
      <button class="btn btn-danger"(click)="deleteConsultation(consultation)">Delete</button>
      <button class="btn btn-primary"(click)="updateConsultation(consultation)">Update</button>
    </td>

  </tr>
</tbody>
</table>




</div>