<div class="row no-gutters">

  <div class="col container-fluid">
    <app-nav-bar></app-nav-bar>
  </div>
</div>

<div class="row" style="min-height: 580px">
  <div class="col-lg-2 container-fluid">
    <app-side-bar></app-side-bar>
  </div>

  <div class="col-lg container-fluid">
    <br>
    <app-main-content></app-main-content>
    <br>
  </div>
</div>

<div class="row align-items-end">
  <div class="col" style="padding-left: 20px">
        <p>All rights are prrserved to jihed@gap.xXx <abbr title="attribute">GAP</abbr>.</p>
  </div>
</div>
<router-outlet></router-outlet>
