<div class="container">
  <form>
    <div class="row no-gutters" >
          <div class="col">
              <div class="form-group" style="max-width: 300px;">

                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="patient.email" name="email">
                <small class="form-text text-danger" *ngIf="patientError">{{ patientError.email }} </small>
                <small class="form-text text-danger " *ngIf="patientExist"> An account already exists with this email  
                <a routerLink="/login>"> Click here to Login</a>
                </small>

                <label>Enter password</label>
                <input type="password" class="form-control" [(ngModel)]="user.userPwd" name="pwd">

                <label for="exampleInputEmail1">First name</label>
                <input type="email" class="form-control" [(ngModel)]="patient.firstName" name="fname">
                <small class="form-text text-danger" *ngIf="patientError">{{ patientError.firstName }} </small>

                <label for="exampleInputEmail1">Last name</label>
                <input type="email" class="form-control" [(ngModel)]="patient.lastName" name="lname">

              </div>
          </div>

          <div class="col">
              <div class="form-group" style="max-width: 300px;">

                  <label for="exampleInputEmail1">Cnam code</label>
                  <input type="email" class="form-control" [(ngModel)]="patient.cnam" name="cnam">
                  <small class="form-text text-danger" *ngIf="patientError">{{ patientError.cnam }} </small>
                  
                  <label >Birth date:</label>
                  <input type="date" class="form-control" [(ngModel)]="patient.birthDate" name="birthDate">
                  <small class="form-text text-danger" *ngIf="patientError">{{ patientError.birthDate }} </small>
                  <label>Phone number</label>
                  <input type="text" class="form-control" [(ngModel)]="patient.phone" name="phone" >
                  <small class="form-text text-danger" *ngIf="patientError">{{ patientError.phone }} </small>
              </div>
              <button type="submit" class="btn btn-primary" (click)="createPatient()">Submit</button>
            </div>
    </div>
  </form>
</div>
